  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      /* background: linear-gradient(135deg, #74ABE2, #5563DE); */
    
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      /* color: #333; */
        background: linear-gradient(135deg, #0F2027, #203A43, #2C5364);
  color: #fff;
    }


    .weather-card {
      background-color: #fff;
      width: 320px;
      padding: 30px 25px;
      border-radius: 15px;
      box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
      text-align: center;
      transition: all 0.3s ease;
    }

    .weather-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }

  
    .weather-card h1 {
      font-size: 26px;
      color: #222;
      margin-bottom: 20px;
    }


    label {
      font-size: 14px;
      color: #666;
      display: block;
      margin-bottom: 8px;
      text-align: left;
    }

  
    input {
      width: 100%;
      padding: 10px 12px;
      border: 2px solid #ddd;
      border-radius: 8px;
      outline: none;
      font-size: 15px;
      transition: border 0.3s;
    }

    input:focus {
      border-color: #5563DE;
    }


    button {
      width: 100%;
      margin-top: 15px;
      padding: 10px;
      font-size: 16px;
      background: #2e388b;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background: #3946b8;
    }

  
    #result {
      margin-top: 20px;
      background: #f1f3ff;
      border-radius: 10px;
      padding: 15px;
      font-size: 16px;
      color: #333;
      min-height: 50px;
      line-height: 1.5;
    }

 